---
import Layout from "../layouts/Layout.astro";
import Instructores from "../components/Instructores.astro";
---

<Layout title="Welcome to Astro.">
  <main class="w-full min-h-screen">
    <section id="Instructores" class="flex flex-col bg-gradient-to-r from-yellow-300 via-rose-300 to-orange-300">
      
      <h1 class="pt-[80px] text-center text-6xl font-bold font-serif  opacity-60">Instructores</h1>
      <div class="h-[600px] flex justify-evenly items-center gap-2">
       <Instructores />
      </div>
      
        
    </section>

    <section id="Contact" class="bg-sky-200 h-[700px] flex items-center">
      <div
        class="container items-center lg:items-center xl:max-w-5xl xs:max-w-5xl h-64 justify-center
      flex-col
      xs:flex-row
      xs:items-center
      sm:flex-row
      sm:m-auto
      md:flex
      lg:flex
      xl:flex
      bg-white
      text-black"
      >
        <h2>About</h2>
      </div>

      <footer></footer>
    </section>
  </main>

  <style></style>
</Layout>
